div.footer
		div.footerBox

			div.footerDetails
				div.site
					p.active 客服热线：4006-678-678（8:00 - 22:00)
					p 客服邮箱：cs@mcake.com
					p 地址：上海市普陀区同普路1130弄3号
				div.details
					dl
						dt
							a(href="#") 发现
						dd
							a(href="#") 公告
						dd
							a(href="#").img
					dl
						dt
							a(href="#") 关于我们
						dd
							a(href="#") 企业介绍
						dd
							a(href="#") 媒体合作
						dd
							a(href="#") 招贤纳士
						dd
							a(href="#") 呼叫中心
					dl
						dt
							a(href="#") 帮助中心
						dd
							a(href="#") 投诉与建议
						dd
							a(href="#") 会员权益
						dd
							a(href="#") 购物指南
						dd
							a(href="#") 支付类
						dd
							a(href="#") 订单相关
						dd
							a(href="#") 配送服务
			div.footerCopy
				p Copyright © 2012-2017 上海卡法电子商务有限公司 版权所有 沪ICP备12022075号
					a(href="#")
						img(src="../images/gs.png")










