div.footerImg
    ul
        li
            a(href="#")
                img(src="../images/footerImg_1.jpg")
        li
            a(href="#")
                img(src="../images/footerImg_2.jpg")
        li
            a(href="#")
                img(src="../images/footerImg_3.jpg")