extends layout
block content
    h1= load
    div.header
        div.header-top
            ul
                li
                  a
                   <i></i>  0件
                li
                  a LOG IN 登录
                li
                  a SIGN UP 注册
        hr
        div.header-btm
            ul
                li.active
                  a(href='#')
                    span Nos Produits
                    span 全部产品
                b
                li
                    a(href='#')
                        span Napoleon
                        span 拿破仑系列
                b
                li
                    a(href='#')
                        span Nouveaute
                        span 最新活动
                b
                li
                    a(href='#')
                        span Mon cake
                        span 会员中心
            div.tel
                span
                   a
                   <i></i> 898-0305
                span
                   a
                    <i></i> 六环以内部分区域满100包邮
            div.address
               i
                span 北京市
                a