extends layout
append head
	link(rel='stylesheet', href='/stylesheets/index.css')
block content
	div.box
		div.bannerBox
			ul
				li
					img(src="images/index/title.png")
					img(src="images/index/top-cake.png")
		div.main
			div.title
				div.title_box
					p
					span 蛋糕
			div.boy
				ul
					li
						div.t
							a(src="#")
								img(src="images/index/list_2177_1.jpg")
							div.f
								a(src="#")
									div
										p 2磅/318 RMB
										p.i 甜品指数：
											i
									div
						div.text
							img(src="images/index/xp.png")
							a(src="#")
								span Blanc Amant
								span 白色恋人	
					li
						div.t
							a(src="#")
								img(src="images/index/1.jpg")
							div.f
								a(src="#")
									div
										p 2磅/318 RMB
										p.i 甜品指数：
											i
									div
						div.text
							img(src="images/index/rq.png")
							a(src="#")
								span Napoléon aux fraises
								span 拿破仑莓恋
					li
						div.t
							a(src="#")
								img(src="images/index/list_1959_1.jpg")
							div.f
								a(src="#")
									div
										p 2磅/298 RMB
										p.i 甜品指数：
											i
									div
						div.text
							a(src="#")
								span Fraise-Chantilly
								span 鲜莓印雪
					li
						div.t
							a(src="#")
								img(src="images/index/1(4).jpg")
							div.f
								a(src="#")
									div
										p 2磅/298 RMB
										p.i 甜品指数：
											i
									div
						div.text
							img(src="images/index/rq.png")
							a(src="#")
								span Velour rouge
								span 蔓越莓红丝绒
					li
						div.t
							a(src="#")
								img(src="images/index/list_3116_1.jpg")
							div.f
								a(src="#")
									div
										p 2磅/298 RMB
										p.i 甜品指数：
											i
									div
						div.text
							img(src="images/index/xp.png")
							a(src="#")
								span Histoire de pêche
								span 蜜桃物语	
					li
						div.t
							a(src="#")
								img(src="images/index/1 (1).jpg")
							div.f
								a(src="#")
									div
										p 2磅/298 RMB
										p.i 甜品指数：
											i
											i
											i
									div
						div.text
							img(src="images/index/xp.png")
							a(src="#")
								span Blanche gamine
								span 布兰奇卡曼
					li
						div.t
							a(src="#")
								img(src="images/index/list_2132_1.jpg")
							div.f
								a(src="#")
									div
										p 2磅/318 RMB
										p.i 甜品指数：
											i
											i
									div
						div.text
							a(src="#")
								span Mont Blanc
								span 朗姆醇栗
					li
						div.t
							a(src="#")
								img(src="images/index/1(5).jpg")
							div.f
								a(src="#")
									div
										p 2.5磅/318 RMB
										p.i 甜品指数：
											i
											i
									div
						div.text
							a(src="#")
								span lapin détendu
								span 安逸兔
					li
						div.t
							a(src="#")
								img(src="images/index/1(5).jpg")
							div.f
								a(src="#")
									div
										p 2.5磅/318 RMB
										p.i 甜品指数：
											i
											i
									div
						div.text
							a(src="#")
								span lapin détendu
								span 安逸兔
					li
						div.t
							a(src="#")
								img(src="images/index/1(5).jpg")
							div.f
								a(src="#")
									div
										p 2.5磅/318 RMB
										p.i 甜品指数：
											i
											i
									div
						div.text
							a(src="#")
								span lapin détendu
								span 安逸兔						