extends layout
append head
	link(rel='stylesheet', href='/stylesheets/index.css')
	//link(rel='stylesheet', href='/stylesheets/bootstrap.css')
block content
	div.box
		div.bannerBox
			ul
				li.img-2018
					img(src="images/2018year.jpg")
				li.img-nap
					img(src='images/banner-bg.png')
			a.left &lt;<
			a.right &gt;
			ul.circle
				li
					a(href='#')
				li
					a(href='#')
			//div.carousel.slide#myCarousel
			//	ol.carousel-indicators
			//		li.active(data-target='#myCarousel', data-slide-to='0')
			//		li(data-target='#myCarousel', data-slide-to='1')
			//	div.carousel-inner
			//		div.item
			//			img(src='images/2018year.jpg')
			//	div.carousel-inner
			//		div.item.active
			//			img(src='images/banner-bg.png')
			//	a.carousel-control.left(href='#myCarousel', data-slide='prev') &lsaquo;
			//	a.carousel-control.right(href='#myCarousel', data-slide='next') &rsaquo;
		div.main
			div.title
				div.title_box
					p
					span 蛋糕
			div.boy
				ul#cakeList
					li
						div.t
							a(href="#")
								img(src="images/index/list_2177_1.jpg")
							div.f
								a(href="#")
									div
										p 2磅/318 RMB
										p.i 甜品指数：
											i
									div
						div.text
							img(src="images/index/xp.png")
							a(src="#")
								span Blanc Amant
								span 白色恋人
					li
						div.t
							a(href="#")
								img(src="images/index/list_2177_1.jpg")
							div.f
								a(href="#")
									div
										p 2磅/318 RMB
										p.i 甜品指数：
											i
									div
						div.text
							img(src="images/index/xp.png")
							a(src="#")
								span Blanc Amant
								span 白色恋人
					li
						div.t
							a(href="#")
								img(src="images/index/list_2177_1.jpg")
							div.f
								a(href="#")
									div
										p 2磅/318 RMB
										p.i 甜品指数：
											i
									div
						div.text
							img(src="images/index/xp.png")
							a(src="#")
								span Blanc Amant
								span 白色恋人
					li
						div.t
							a(href="#")
								img(src="images/index/list_2177_1.jpg")
							div.f
								a(href="#")
									div
										p 2磅/318 RMB
										p.i 甜品指数：
											i
									div
						div.text
							img(src="images/index/xp.png")
							a(src="#")
								span Blanc Amant
								span 白色恋人
					li
						div.t
							a(href="#")
								img(src="images/index/list_2177_1.jpg")
							div.f
								a(href="#")
									div
										p 2磅/318 RMB
										p.i 甜品指数：
											i
									div
						div.text
							img(src="images/index/xp.png")
							a(src="#")
								span Blanc Amant
								span 白色恋人
					li
						div.t
							a(href="#")
								img(src="images/index/list_2177_1.jpg")
							div.f
								a(href="#")
									div
										p 2磅/318 RMB
										p.i 甜品指数：
											i
									div
						div.text
							img(src="images/index/xp.png")
							a(src="#")
								span Blanc Amant
								span 白色恋人
					li
						div.t
							a(href="#")
								img(src="images/index/list_2177_1.jpg")
							div.f
								a(href="#")
									div
										p 2磅/318 RMB
										p.i 甜品指数：
											i
									div
						div.text
							img(src="images/index/xp.png")
							a(src="#")
								span Blanc Amant
								span 白色恋人
					li
						div.t
							a(href="#")
								img(src="images/index/list_2177_1.jpg")
							div.f
								a(href="#")
									div
										p 2磅/318 RMB
										p.i 甜品指数：
											i
									div
						div.text
							img(src="images/index/xp.png")
							a(src="#")
								span Blanc Amant
								span 白色恋人
					li
						div.t
							a(href="#")
								img(src="images/index/list_2177_1.jpg")
							div.f
								a(href="#")
									div
										p 2磅/318 RMB
										p.i 甜品指数：
											i
									div
						div.text
							img(src="images/index/xp.png")
							a(src="#")
								span Blanc Amant
								span 白色恋人
					li
						div.t
							a(href="#")
								img(src="images/index/list_2177_1.jpg")
							div.f
								a(href="#")
									div
										p 2磅/318 RMB
										p.i 甜品指数：
											i
									div
						div.text
							img(src="images/index/xp.png")
							a(src="#")
								span Blanc Amant
								span 白色恋人
			div.title
				div.title_box
					p.xiaoshi
					span 小食
				div.boy
					ul
						li
							div.t
								a(src="#")
									img(src="images/index/list_2177_1.jpg")
								div.f
									a(src="#")
										div
											p 2磅/318 RMB
											p.i 甜品指数：
												i
										div
								div.text
									img(src="images/index/xp.png")
									a(src="#")
										span Blanc Amant
										span 白色恋人
						li
							div.t
								a(src="#")
									img(src="images/index/list_2177_1.jpg")
								div.f
									a(src="#")
										div
											p 2磅/318 RMB
											p.i 甜品指数：
												i
										div
								div.text
									img(src="images/index/xp.png")
									a(src="#")
										span Blanc Amant
										span 白色恋人
						li
							div.t
								a(src="#")
									img(src="images/index/list_2177_1.jpg")
								div.f
									a(src="#")
										div
											p 2磅/318 RMB
											p.i 甜品指数：
												i
										div
								div.text
									img(src="images/index/xp.png")
									a(src="#")
										span Blanc Amant
										span 白色恋人
						li
							div.t
								a(src="#")
									img(src="images/index/list_2177_1.jpg")
								div.f
									a(src="#")
										div
											p 2磅/318 RMB
											p.i 甜品指数：
												i
										div
								div.text
									img(src="images/index/xp.png")
									a(src="#")
										span Blanc Amant
										span 白色恋人
						li
							div.t
								a(src="#")
									img(src="images/index/list_2177_1.jpg")
								div.f
									a(src="#")
										div
											p 2磅/318 RMB
											p.i 甜品指数：
												i
										div
							div.text
								img(src="images/index/xp.png")
								a(src="#")
									span Blanc Amant
									span 白色恋人


			div.toolbar
				h2 #口味筛选
				ul.list#asideNav
					li#allCake
						a(href='javascript:;') 全部蛋糕
					li#napoleonCake
						a(href='javascript:;') 拿破仑
					li
						a(href='javascript:;') 鲜奶
					li
						a(href='javascript:;') 慕斯
					li
						a(href='javascript:;') 芝士
					li
						a(href='javascript:;') 巧克力
					li
						a(href='javascript:;') 咖啡
					li
						a(href='javascript:;') 坚果
					li
						a(href='javascript:;') 水果
					li
						a(href='javascript:;') 冰激凌

				h2
					a(href='javascript:;') #小食
block javascript
	script(src='/js/index.js')
