doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/header.css')
<<<<<<< HEAD
    link(rel='stylesheet', href='/stylesheets/footer.css')
=======
    script(src= '/js/lib/jquery.min.js')
>>>>>>> bdbaab8afd940f8b1c1adc4e37d43e17de198b71
  body
    block content
