doctype html
html
  head
    block head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/header.css')
    link(rel='stylesheet', href='/stylesheets/footer.css')
  body
    include includes/header
    block content
    include includes/footer
    block javascript
