extends layout
append head
    link(rel='stylesheet', href='/stylesheets/napoleon.css')
block content
    div.napoleon
        div.first
            div.container
                img(src='images/napoleon/xunwei_03.png')
                img(src='images/napoleon/Napoleon.png')
                ul
                    li.classical
                        p.hidden
                            span
                            i 经典香草拿破仑
                        img(src='images/napoleon/Pro_cp_01.png')
                    li.blue
                        p.hidden
                            span
                            i 蓝莓轻乳拿破仑
                        img(src='images/napoleon/Pro_cp_02.png')
                    li.napo1893
                        p.hidden
                            span
                            i 拿破仑1893
                        img(src='images/napoleon/Pro_cp_03.png')

            a(href='#')
                img(src='images/napoleon/Secret.png')
        div.second#second
            img(src='images/napoleon/Blueberry.jpg')
            a
                img(src='images/napoleon/Blueberry_Button.png')
        div.three#three
            img(src='images/napoleon/Vanilla.jpg')
            a
                img(src='images/napoleon/Vanilla_Botton_.png')
        div.forth#forth
            img(src='images/napoleon/lpo1893.jpg')
            a
                img(src='images/napoleon/lpl1893_Bottom.png')
