.box{
	width: 100%;
	/*border: 1px solid red;*/
	font-size: 12px;
	color: #767676;
}
.box .bannerBox{
	width: 100%;
	height: 550px;
	/*border: 1px solid red;*/
	overflow: hidden;
	margin-bottom: 20px;
}
/*!*轮播图片*!*/
/*.box .bannerBox ul{*/
	/*!*overflow: hidden;*!*/
/*}*/
/*.box .bannerBox ul li{*/
	/*display: inline-block;*/
	/*!*overflow: hidden;*!*/
	/*width: 100%;*/
	/*height: 100%;*/
/*}*/
/*.box .bannerBox ul .img-2018{*/
	/*position: relative;*/
/*}*/
/*.box .bannerBox ul .img-2018 img{*/
	/*position: absolute;*/
	/*left: -20%;*/
/*}*/
.box .main{
	width: 1136px;
	margin: auto;
	position: relative;
}
.box .main .title{
	width: 100%;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}
.box .main .title .title_box{
	width: 290px;
	text-align: center;
	margin: auto;
	font-size: 14px;
	color: #aaa;
}
.box .main .title .title_box p{
	background: url(../images/index/tc_title.png)no-repeat;
	height: 35px;
	background-position: 50% 0;
}
.box .main .title .title_box p.xiaoshi{
	background: url(../images/index/tp_title.png)no-repeat;
	height: 35px;
	background-position: 50% 0;
}
/*列表*/
.box .main .boy{
	width: 1110px;
	margin: auto;
	/*height: 800px;	*/
}
.box .main .boy ul{
	margin-top: 15px;
	margin-left: 7px;
    overflow: hidden;
}
.box .main .boy ul li{
	float: left;
	overflow: hidden;
	padding-bottom: 35px;
	cursor: pointer;
	width: 220px;
}
.box .main .boy ul li .t{
	position: relative;
	margin-right: 10px;
	overflow: hidden;
}
.box .main .boy ul li .t a img{
	width: 210px;
	height: 210px;
}
.box .main .boy ul li .text{
	position: relative;
	padding-right: 10px;
}
.box .main .boy ul li .text a{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	font-weight: bold;
}
.box .main .boy ul li .text a span{
	display: block;
}
/*隐藏框*/
.box .main .boy ul li .t .f{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 55px;
	background: rgba(0,0,0,.5);
	color: #fff;
	bottom: -55px;
}
.box .main .boy ul li .t .f a{
	display: block;
	width: 100%;
	height: 55px;
}
.box .main .boy ul li .t .f div:first-child{
	margin-top: 10px;
	padding-left: 15px;
}
.box .main .boy ul li .t .f div:first-child .i{
	margin-top: 3px;
}
.box .main .boy ul li .t .f div:first-child .i i{
	display: inline-block;
	width: 1pc;
	height: 1pc;
	background: url(../images/icon.png) no-repeat -268px -65px;
	margin-left: 2px;	
}
.box .main .boy ul li .t .f div:last-child{
	position: absolute;
	top: 50%;
	right: 5%;
	margin-top: -20px;
	width: 36px;
	height: 36px;
	background: #f2f6f7 url(../images/icon.png)no-repeat -39px -6px;
}
/*侧边导航条*/
.toolbar{
	position:absolute;
	top:50px;
	right: -60px;
	text-align:right;
}

.toolbar> h2:first-child{
	color:#7b9196;
	background-image: url('../images/icon.png');
	background-repeat: no-repeat;
	background-position: -314px -126px;
	font-size: 12px;
	cursor:pointer;
	width: 70px;
	height: 34px;
}
.toolbar .list li{
	margin-top:5px;
}
.toolbar  a{
	color: #767676;
    font-size: 12px;
}
.toolbar  a:hover{
	color: #b0916a;
}
.toolbar h2 a{
	color:#7b9196;
}





















