.napoleon .first,.napoleon .second,.napoleon .three,.napoleon .forth{
    width:100%;
    height: 630px;
    position: relative;
}
/**{border:1px solid red}*/
/*第一块内容*/
.napoleon .first{
    background-color: #e6faf9;
}
.napoleon .first .container:before{
    content:'';
    display: table;
}
.napoleon .first a img{
    position: absolute;
    left:50%;
    bottom:0;
    transform: translate(-50%,50%);
    z-index: 1;
}
/*第二第三第四模块前景内容*/
.napoleon .second .front img.hidden{
    height: 0;
}
.napoleon .second .front a img,.napoleon .three .front a img ,.napoleon .forth .front a img {
    position: absolute;
    left:50%;
    bottom:0;
    transform: translate(-50%,0);
    z-index: 1;
}
/*第二第三第四背景内容*/

.napoleon .second .back{
    position: relative;
    width:100%;
    height: 100%;
}
.napoleon .second .back .lf{
    width:600px;
    height: 458px;
    float: left;
    margin: 112px 0 0 227px;
}
.napoleon .second .back .rt{
    width:600px;
    height: 458px;
    float: left;
    border:1px solid red;
}




.napoleon .first .container >img{
    display: block;
}
.napoleon .first .container > img:first-child{
    margin:60px auto 20px;
}
.napoleon .first .container > img:nth-child(2){
    margin: 50px auto 0;
}
.napoleon .first .container ul{
    width:59%;
    margin:0 auto;
}
.napoleon .first .container ul li .hidden{
    display:none;
}

.napoleon .first .container ul li{
    width:181px;
    display: inline-block;
    text-align: center;
}
.napoleon .first .container ul li:nth-child(2){
    margin:0 146px;
}
.napoleon .first .container ul .classical span{
    display: block;
    width: 181px;
    height: 14px;
    background-image: url('../images/napoleon/Vanilla_wz_01.png');
}
.napoleon .first .container ul .blue span{
    display: block;
    width: 181px;
    height: 14px;
    background-image: url('../images/napoleon/Blueberry_wz_01.png');
}
.napoleon .first .container ul .napo1893 span{
    display: block;
    width: 181px;
    height: 14px;
    background-image: url('../images/napoleon/npl1893_wz_01.png');
}
.napoleon .first .container ul i{
    font-style: normal;
    font-size: 12px;
    color: #767676;
}
.napoleon .second{
    background-color: #f5eef7;
}
.napoleon .three{
    background-color: #e8ffdc;
}
.napoleon .forth{
    background-color: #fffcde;
}

