.register{
    width:65%;
    height: 420px;
    margin: 50px auto;
    /*color: #767676;*/
   /*border:1px solid red;*/
    overflow: hidden;
    color: #767676;
    font-size:14px;
}
.register>.registerBox>.msg{
    width:600px;
    height:420px;
    float:left;
}
.register>.registerBox>.img{
    float:right;
    width:127px;
    height:43px;
    margin-top:150px;
    margin-right:100px;
}
.register>.registerBox>.img:hover,.register>.registerBox>.img>span a:hover{
    color: #b0916a;
}
.register>.registerBox>.img>i{
    display: inline-block;
    width: 40px;
    height: 43px;
    vertical-align: bottom;
    background: url(../images/icon.png) no-repeat -203px -400px;
}
.register>.registerBox>.img>span{
    display: inline-block;
    width:86px;
    /*height: 43px;*/
    /*line-height: 43px;*/
}
.register>.registerBox>.img>span a{
    color: #a500af;
}
/*表单*/
.register .registerBox .listBox{
    float: left;
    padding: 30px 0 0 0;
    color: #767676;
}
.register .registerBox .listBox .bar{
    border-bottom: 1px solid #d6d6d6;
    width: 340px;
    line-height: 40px;
    padding-bottom: 10px;
}
.register .registerBox .listBox .register_bar{
    display: inline-block;
    padding: 0 34px;
    cursor: pointer;
    font-size: 18px;
    color: #767676;
}
.register .registerBox .listBox .on{
    font-weight: bold;
}
.register .registerBox .listBox .input{
    padding: 5px;
    position: relative;
    margin-top: 5px;
}
.register .registerBox .listBox .input input{
    background: #f0f0f0 url("../images/icon.png") no-repeat;
    height: 40px;
    font-size: 14px;
    color: #767676;
    border: 0;
    width: 235px;
    padding: 5px 10px 5px 45px;
}
.register .registerBox .listBox .input .y{
    background-position: -350px -285px;
}
.register .registerBox .listBox .input .pwd{
    background-position: -350px -336px;
}
.register .registerBox .listBox .input .pwd+span{
    color: #b0916a;
    font-size: 12px;
    margin-left: 10px;
}
.register .registerBox .listBox .input .pwdNew{
    background-position: -350px -385px;
}
.register .registerBox .listBox .input .m{
    background-position: -350px -434px;
}
.register .registerBox .listBox .btn{
    padding: 5px;
    font-size: 12px;
}
.register .registerBox .listBox .btn span{
    display: inline-block;
    width: 155px;
    text-align: center;
    margin-right: 15px;
    cursor: pointer;
    background: #b0916a;
    height: 34px;
    line-height: 34px;
    color: #fff;
    border-radius: 3px;
}
.register .registerBox .listBox .btn span:hover{
    background: #8b7860;
}
.register .registerBox .listBox .btn a{
    color: #aaa;
}
.register .registerBox .listBox .btn a:hover{
    text-decoration: underline;
}
.register .registerBox .listBox .ti{
    padding: 6px;
    font-size: 12px;
    color: #aaa;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}
.register .registerBox .listBox .ti a{
    color: #a5002f;
    display: inline-block;
    margin-left: 10px;
}
.register .registerBox .listBox .zf p{
    font-size: 12px;
    color: #aaa;
    padding: 0 0 5px 5px;
}
.register .registerBox .listBox .zf a{
    background: url("../images/icon.png") no-repeat;
    display: inline-block;
    width: 30px;
    height: 24px;
}
.register .registerBox .listBox .zf a.sina{
    background-position: -8px -366px;
}
.register .registerBox .listBox .zf a.slipay{
    width: 55px;
    background-position: -49px -366px;
    margin-left: 15px;
}
.show{
    display: block;
}
.hide{
    display: none;
}
/*手机登录*/
.register .registerBox .listBox .input .t{
    background-position: -350px -435px;
}
.register .registerBox .listBox .input span.f{
    display: inline-block;
    color: #fff;
    background: #b0916a;
    font-size: 12px;
    line-height: 23px;
    width: 100px;
    margin-left: 10px;
    text-align: center;
    cursor: pointer;
    position: relative;
    top: -12px;
}
.register .registerBox .listBox .input span.f:hover{
    background: #8b7860;
}