body ,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,pre,hr{
  margin:0;
  padding: 0;
}
body{padding-top:100px;}
a {
    text-decoration: none;
}
ul{list-style:none}
hr{border:1px solid #eee}
/**{border:1px solid red}*/